body {
	background-image: url(https://piccdn.freejishu.com/images/2018/05/06/qBjz8.jpg!/format/jpg);
	background-repeat: no-repeat no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
	text-shadow: 1px 2px 5px #888 !important;
	font-family: "Consolas", "微软雅黑", "Segoe UI", Arial, "Times New Roman" !important;
	-webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	-ms-transition: all ease 0.1s;
	transition: all ease 0.1s;
}
		